.container-fluid1 {
    background: #3b4245;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
li {
    display: inline-block;
    padding:  10px;
    padding-right: 10px;
    font-size: 30px;

}

a {
    text-decoration: none;
    padding-right: 10px;
    color: rgb(47, 136, 196);
}
div span > img {
    width: 45px;
    height: 38px;
    padding-left: 0px;
}
ul {
    padding-left: 20px;
    position: sticky;
    flex-basis: auto;

    
}
body {
    background-color: white;
   background-image: url('img/pexels-madison-inouye-1831234.jpg');
}
h1 {
    color: black;
mix-blend-mode: overlay;
z-index: 3;
}
p {
    mix-blend-mode: overlay;
}
a:hover {
    text-decoration-line: none;

}
a:active {
    color: green;
}
a:visited {
    color: rgb(219, 121, 216);

}
a:focus {
color: blueviolet;
font-weight: bold;
border-radius: 1px  blueviolet;
}
.nav1{
    padding-left: 50px;
}
.imger{
    margin-top: -5px;
}
a  {
    color: yellow;
}
.div_hr{
    margin-top: 30px;
}
.div_imgcarousel{
    width: 1100px;
    height: 700px;
    margin-left: 10%;
}
.indexCrousel_img1{
    width: 1100px;
    height: 700px;
}
.video_footer{
    height: 100px;
    width: 100%;
    background-color:#322D2D;
}
.video_footer_p1{
    text-align: center;
    color: aliceblue;
    padding-top: 30px;
    font-size: 25px;
}