.container-fluid {
    background: #3b4245;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
li {
    display: inline-block;
    padding:  10px;
    padding-right: 10px;
    font-size: 30px;
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: rgb(47, 136, 196);
}
div span > img {
    width: 45px;
    height: 38px;
    padding-left: 0px;
}
ul {
    padding-left: 20px;
    position: sticky;
    flex-basis: auto;
    
}
body {
    background-color: white;
   
}
h1 {
    color: black
}
a:hover {
    color: blueviolet;
}
a:active {
    color: green;
}
a:visited {
    color: rgb(219, 121, 216);
}
a:focus {
color: blueviolet;
font-weight: bold;
border-radius: 1px  blueviolet;
}
.nav{
    padding-left: 50px;
}
.imger{
    margin-bottom: -10px;
}
a  {
    color: yellow;
}
.div_hr{
    margin-top: 30px;
}
p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
}
h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.search-box {
    left: 50%;
    position: relative;
    height: 40px;
    border-radius: 40px;
   background: rgb(243, 247, 249);
   transform: translate(-50%,50%);
   width: 300px;
  
}
.search-txt {
    margin-top: 10px;
    margin-left: 70px;
    border: none;
    padding: 0;
    outline: none;
    float: left;
    background: none;
    color: rgb(17, 5, 5)

}
.search-btn{
    color: green;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: 3px;
    padding-left: 3px;

}
.search-btn:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.7s;
}
.container-fluid {
    background: #3b4245;
}
.flex-container2 {
display: inline-block;
width: 100%;
height: 100%;
border: 10px solid blue;
position: relative ;

}
.flexitem-flex{
   position: relative;
   height: 33.33%;
    
   
}

 div > img {
    display: flex;
    width: 33%;
    height: 90%;
} 

.rezept1 {
    display: inline-block;
    text-align: right;
   margin-top: 0;
   margin-left: 10px;
}
.forum {
    float: right;
    position: relative;
    width: 30%;
    height: 115vh;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 3px rgb(181, 168, 168);
    z-index: 100;
    background-color: yellowgreen;

}


.video {
    position: relative;
    width: 70%;
    height: 100%;
    border: 3px solid green;
    display: flex;
    gap: 6px;
    padding: 5px;
    flex-direction: column;
    
}
.forum {
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
    z-index: 100;
}
.list {
    display: block;
}
.flexitem-flex{
    display: flex;
    flex-direction: row;
}
.heading.forum {
    font-size: 30px;
}
.video_footer{
    height: 100px;
    width: 100%;
    background-color:#322D2D;
}
.video_footer_p1{
    text-align: center;
    color: aliceblue;
    padding-top: 30px;
    font-size: 25px;
}