.container-fluid {
    background: #3b4245;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
li {
    display: inline-block;
    padding:  10px;
    padding-right: 10px;
    font-size: 30px;
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: rgb(47, 136, 196);
}
div span > img {
    width: 45px;
    height: 38px;
    padding-left: 0px;
}
ul {
    padding-left: 20px;
    position: sticky;
    flex-basis: auto;
    
}
body {
    background-color: white;
   
}
h1 {
    color: black
}
a:hover {
    color: blueviolet;
}
a:active {
    color: green;
}
a:visited {
    color: rgb(219, 121, 216);
}
a:focus {
color: blueviolet;
font-weight: bold;
border-radius: 1px  blueviolet;
}
a  {
    color: yellow;
}
.div_hr{
    margin-top: 30px;
}
.video_footer{
    height: 100px;
    width: 100%;
    background-color:#322D2D;
    margin-top: 30px;
}
.video_footer_p1{
    text-align: center;
    color: aliceblue;
    padding-top: 30px;
    font-size: 25px;
}
.nav{
    padding-left: 50px;
}
.imger{
    margin-bottom: -10px;
}
.salat_div1{
    background-image:url(./img/SALAD-1024x576.jpg);
    width: 1150px;
    height: 500px;
    position: relative;
    margin-left: 2rem;
}
.salat_div2{
    background-color: #fff;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 94px;
}
.salat_h2, .salat_p1{
    text-align: center;
    padding-top: 30px;
}
.salat_p2, .salat_h1{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;

}
.salat_img1, .salat_img2{
    margin-top: 30px;
    margin-left: 20px;
    width: 570px;
    height: 340px;

}
.salat_p42{
   font-size: 20px;
   margin-top: 20px;
}
.salat_divbox2{
    margin-top: 20px;
    margin-left: 100px;
    width: 450px;
    height: 200px;
    display: inline-block;
    /* display: flex; */
    /* padding-left: 50px; */
}
.salat_h2_2{
    text-align: center;
   padding-top: 20px;

}